<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <title>Hello, world!</title>
</head>

<body>
  <!-- <div class="container">

    <h1>hola mundo desde el template en </h1>
    <div class="row">
        <div class="col ">hola</div>
        <div class="col ">como andas</div>
    </div>
</div> -->
  <div class="jumbotron">
    <h1>Pymes Demo - 2021</h1>
    <p>Este ejemplo está desarrollado con las siguientes tecnologías: </p>
    <p>Backend: VisualStudio 2019, Aplicacion Web con WebApi2, EntityFramework 6, multiples capas en C#.
    <p>Frontend: Single Page Aplication, HTML, CSS, Bootstrap, Typescript y Angular.</p>
    <button type="button" class="btn btn-lg btn-primary" >
        <i class="fas fa-search"> </i>
        Ver ABMC Articulos
      </button>
  </div>



  <script src="https://kit.fontawesome.com/e1a460f812.js" crossorigin="anonymous"></script>


</body>

</html>